<bu-navbar label="navigation" color="dark">
  <div class="navbar-brand">
    <a brand class="navbar-item" routerLink="/">
      <img src="/assets/img/bulma.svg" height="24px" width="28px" />
      @angular-bulma
    </a>
  </div>
  <div class="navbar-start">
    <div
      class="navbar-item has-dropdown"
      [ngClass]="{ 'is-active': isDropdownActive }"
      (click)="isDropdownActive = !isDropdownActive"
    >
      <a class="navbar-link">Theme</a>
      <div class="navbar-dropdown">
        <a
          *ngFor="let theme of themes"
          class="navbar-item"
          (click)="changeStylesheet(theme); isDropdownActive = false"
        >{{ theme }}</a>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-info icon-text" href="https://github.com/quinnjr/angular-bulma">
          <span class="icon is-large">
            <i class="fab fa-github fa-lg"></i>
          </span>
          <span>Github</span>
        </a>
      </div>
    </div>
  </div>
</bu-navbar>
<div class="columns" style="margin: 0.5rem 0rem">
  <div class="column is-2">
    <bu-menu>
      <bu-menu-label>Concepts</bu-menu-label>
      <bu-menu-list>
        <ng-container *ngFor="let concept of concepts">
          <a [routerLink]="[concept]">{{ capitalizeFirstLetter(concept) }}</a>
        </ng-container>
      </bu-menu-list>
      <bu-menu-label>Elements</bu-menu-label>
      <bu-menu-list>
        <ng-container *ngFor="let element of elements">
          <a [routerLink]="['elements', element]">{{ capitalizeFirstLetter(element) }}</a>
        </ng-container>
      </bu-menu-list>
      <bu-menu-label>Components</bu-menu-label>
      <bu-menu-list>
        <ng-container *ngFor="let component of components">
          <a [routerLink]="['components', component]">{{ capitalizeFirstLetter(component) }}</a>
        </ng-container>
      </bu-menu-list>
      <bu-menu-label>Directives</bu-menu-label>
      <bu-menu-list>
        <ng-container *ngFor="let directive of directives">
          <a [routerLink]="['directives', directive]">{{ capitalizeFirstLetter(directive) }}</a>
        </ng-container>
      </bu-menu-list>
    </bu-menu>
  </div>
  <div class="column">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<link #stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet" type="text/css" />

