@import '~highlight.js/scss/atom-one-dark';

.snippet-title {
  position: relative;
  align-items: center;
  background: #282c34;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  color: orange;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.5em;
  font-weight: 600;
  height: 1.5rem;
  margin-bottom: 0rem;
  padding: 0 1rem;
  vertical-align: top;
}
