<div class="columns">
  <div class="column is-10">
    <hr />
    <div class="level">
      <div class="level-left">
        <a
          class="button is-primary"
          routerLink="/directives/other"
        >
        &laquo; Other
        </a>
      </div>
      <div class="level-right">
        <a
          class="button is-primary"
          routerLink="/directives/typography"
        >
          Typography &raquo;
        </a>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>
