<div class="columns">
  <div class="column is-10">
    <section class="section" id="intro">
      <h1 class="title">Menu</h1>
      <h2 class="subtitle">A simple <strong>menu</strong> for any type of vertical navigation.</h2>
      <hr />
      <div class="content">
        <p>The Bulma <code>menu</code> is a vertical navigation component that comprises:</p>
        <ul>
          <li>The <code>bu-menu</code> container.</li>
          <li>Informative <code>bu-menu-label</code> labels.</li>
          <li>Interactive <code>bu-menu-list</code> lists that can be nested up to 2 levels.</li>
        </ul>
      </div>
    </section>
    <section class="section" id="example">
      <div class="columns">
        <div class="column is-6">
          <bu-menu>
            <bu-menu-label>General</bu-menu-label>
            <bu-menu-list>
              <a>Dashboard</a>
              <a>Customers</a>
            </bu-menu-list>
            <bu-menu-label>Administration</bu-menu-label>
            <bu-menu-list>
              <a>Team Settings</a>
              <a class="is-active">Manage Your Team</a>
              <bu-menu-list>
                <li><a>Members</a></li>
                <li><a>Plugins</a></li>
                <li><a>Add a member</a></li>
              </bu-menu-list>
              <a>Invitations</a>
              <a>Cloud Storage Environment Settings</a>
              <a>Authentication</a>
            </bu-menu-list>
            <bu-menu-label>Transactions</bu-menu-label>
            <bu-menu-list>
              <a>Payments</a>
              <a>Transfers</a>
              <a>Balance</a>
            </bu-menu-list>
          </bu-menu>
        </div>
        <div class="column is-6">
          <demo-code-snippet title="HTML">
            <pre #highlight class="language-xml">
              <code>
&lt;bu-menu&gt;
  &lt;bu-menu-label&gt;General&lt;/bu-menu-label&gt;
  &lt;bu-menu-list&gt;
    &lt;a&gt;Dashboard&lt;/a&gt;
    &lt;a&gt;Customers&lt;/a&gt;
  &lt;/bu-menu-list&gt;
  &lt;bu-menu-label&gt;Administration&lt;/bu-menu-label&gt;
  &lt;bu-menu-list&gt;
    &lt;a&gt;Team Settings&lt;/a&gt;
    &lt;a class=&quot;is-active&quot;&gt;Manage Your Team&lt;/a&gt;
    &lt;bu-menu-list&gt;
      &lt;a&gt;Members&lt;/a&gt;
      &lt;a&gt;Plugins&lt;/a&gt;
      &lt;a&gt;Add a member&lt;/a&gt;
    &lt;/bu-menu-list&gt;
    &lt;a&gt;Invitations&lt;/a&gt;
    &lt;a&gt;Cloud Storage Environment Settings&lt;/a&gt;
    &lt;a&gt;Authentication&lt;/a&gt;
  &lt;/bu-menu-list&gt;
  &lt;bu-menu-label&gt;Transactions&lt;/bu-menu-label&gt;
  &lt;bu-menu-list&gt;
    &lt;a&gt;Payments&lt;/a&gt;
    &lt;a&gt;Transfers&lt;/a&gt;
    &lt;a&gt;Balance&lt;/a&gt;
  &lt;/bu-menu-list&gt;
&lt;/bu-menu&gt;
              </code>
            </pre>
          </demo-code-snippet>
        </div>
      </div>
    </section>
  </div>
  <div class="column mr-3">
    <bu-menu>
      <bu-menu-label>On this page</bu-menu-label>
      <bu-menu-list>
        <a href="#example">Example</a>
      </bu-menu-list>
    </bu-menu>
  </div>
</div>
