<div class="columns">
  <div class="column is-10">
    <section class="section" id="intro">
      <h1 class="title">Navbar</h1>
      <h2 class="subtitle">A responseive horizontal <strong>navbar</strong> that can support images,links, buttons, and dropdowns.</h2>
      <div class="content">
        <p>The <code>bu-navbar</code> component is a responsive and versitile horizontal navigation bar with the following structure:</p>
        <ul>
          <li><code>bu-navbar</code>: the <strong>main</strong> container.</li>
          <ul>
            <li>
              <p>
                <code>div class="navbar-brand"</code>: the <strong>left side, always visible</strong>, which usually contains the logo and optionally some links of icons.
              </p>
              <p>Also contains a reactive burger on the <strong>right side</strong> which toggles the navbar menu on touch devices.</p>
            </li>
            <li>
              <p><code>div class="navbar-start"</code>: The <strong>left part</strong> of the menu which appears next to the navbar brand on desktop.</p>
            </li>
            <li>
              <p><code>div class="navbar-end"</code>: The <strong>right part</strong> of the menu which appears at the end of the navbar.</p>
            </li>
          </ul>
        </ul>
      </div>
    </section>
    <section class="section" id="basic">
      <h3 class="title is-4 is-spaced">
        <a href="/navbar/#basic">#</a> Basic Navbar
      </h3>
      <bu-navbar>
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <app-code-snippet title="html">
        <pre #highlight class="language-xml">
          <code>
&lt;bu-navbar&gt;
  &lt;div class=&quot;navbar-brand&quot;&gt;
    &lt;a class=&quot;navbar-item&quot; href=&quot;#&quot;&gt;
      &lt;img src=&quot;https://bulma.io/images/bulma-logo.png&quot; width=&quot;112&quot; height=&quot;28&quot;/&gt;
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;navbar-start&quot;&gt;
    &lt;a class=&quot;navbar-item&quot;&gt;Home&lt;/a&gt;
    &lt;a class=&quot;navbar-item&quot;&gt;Documentation&lt;/a&gt;
    &lt;a class=&quot;navbar-item&quot;&gt;More&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;navbar-end&quot;&gt;
    &lt;div class=&quot;navbar-item&quot;&gt;
      &lt;div class=&quot;buttons&quot;&gt;
        &lt;a class=&quot;button is-primary&quot;&gt;
          &lt;strong&gt;Sign up&lt;/strong&gt;
        &lt;/a&gt;
        &lt;a class=&quot;button is-light&quot;&gt;Log in&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/bu-navbar&gt;
          </code>
        </pre>
      </app-code-snippet>
    </section>
    <section class="section" id="transparent">
      <h3 class="title is-4 is-spaced">
        <a href="/navbar/#transparent">#</a> Transparent navbar
      </h3>
      <div class="content">
        <p>To seamlessly integrate the navbar in any visual context, you can add the <code>transparent</code> attribute to the <code>bu-navbar</code> component. This will remove any hover or active background from the navbar items.</p>
      </div>
      <bu-navbar [transparent]="true">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <app-code-snippet title="html">
        <pre #highlight class="language-xml">
          <code>
&lt;bu-navbar [transparent]=&quot;true&quot;&gt;
  &lt;div class=&quot;navbar-brand&quot;&gt;
    &lt;a class=&quot;navbar-item&quot; href=&quot;#&quot;&gt;
      &lt;img src=&quot;https://bulma.io/images/bulma-logo.png&quot; width=&quot;112&quot; height=&quot;28&quot;/&gt;
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;navbar-start&quot;&gt;
    &lt;a class=&quot;navbar-item&quot;&gt;Home&lt;/a&gt;
    &lt;a class=&quot;navbar-item&quot;&gt;Documentation&lt;/a&gt;
    &lt;a class=&quot;navbar-item&quot;&gt;More&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;navbar-end&quot;&gt;
    &lt;div class=&quot;navbar-item&quot;&gt;
      &lt;div class=&quot;buttons&quot;&gt;
        &lt;a class=&quot;button is-primary&quot;&gt;
          &lt;strong&gt;Sign up&lt;/strong&gt;
        &lt;/a&gt;
        &lt;a class=&quot;button is-light&quot;&gt;Log in&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/bu-navbar&gt;
          </code>
        </pre>
      </app-code-snippet>
    </section>
    <section class="section" id="fixed">
      <h3 class="title is-4 is-spaced">
        <a href="/navbar/#fixed">#</a> Fixed navbar
      </h3>
      <div class="content">
        <p>You can now <strong>fix</strong> the navbar to either the <strong>top</strong> or <strong>bottom</strong> of the page. This is a 2-step process:</p>
        <ul>
          <li>
            <p>Add the <code>fixed</code> attribute to the <code>bu-navbar</code> component with a value of either <code>top</code> or <code>bottom</code></p>
            <app-code-snippet title="HTML">
              <pre #highlight class="language-xml">
                <code>
&lt;bu-navbar fixed="top"&gt;
                </code>
              </pre>
            </app-code-snippet>
          </li>
          <li>
            <p>Add the corresponding <code>has-navbar-fixed-top</code> or <code>has-navbar-fixed-bottom</code> modifier to either the <code>html</code> or <code>body</code> element to provide the appropriate padding to the page.</p>
            <p>This should be done from within your <code>app-root</code> component.</p>
            <app-code-snippet title="HTML">
              <pre #highlight class="language-xml">
                <code>
&lt;body class="has-navbar-fixed-top"&gt;
                </code>
              </pre>
            </app-code-snippet>
          </li>
        </ul>
      </div>
    </section>
    <section class="section" id="dropdown">
      <h3 class="title is-3 is-spaced">
        <a href="/navbar/#dropdown">#</a> Dropdown menu
      </h3>
      <p>Bulma dropdown menus are currently not a supported component. This will be worked on soon&trade;</p>
    </section>
    <section class="section" id="colors">
      <h3 class="title is-3 is-spaced">
        <a href="/navbar/#colors">#</a> Colors
      </h3>
      <div class="content">
        <p>You can change the background color of the <code>bu-navbar</code> by using on of the <strong>9 color modifiers</strong>:</p>
        <ul>
          <li><code>primary</code></li>
          <li><code>link</code></li>
          <li><code>info</code></li>
          <li><code>success</code></li>
          <li><code>warning</code></li>
          <li><code>danger</code></li>
          <li><code>black</code></li>
          <li><code>dark</code></li>
          <li><code>light</code></li>
          <li><code>white</code></li>
        </ul>
      </div>
      <bu-navbar color="primary">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="link">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="info">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="success">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="warning">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="danger">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="black">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="dark">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="light">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
      <br />
      <bu-navbar color="white">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"/>
          </a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <a class="navbar-item">More</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </bu-navbar>
    </section>
    <section class="section" id="helpers">
      <h3 class="title is-4 is-spaced">
        <a href="/navbar/#helpers">#</a> Navbar Helper Classes
      </h3>
      <div class="content">
        <p>Additional helper attributes can be set on the <code>bu-navbar</code>:</p>
        <ul>
          <li><code>spaced</code>: Sets <strong>Top</strong>and <strong>Bottom</strong> paddings with <strong>1rem</strong>, <strong>Left</strong> and <strong>Right</strong> paddings with <strong>2rem</strong></li>
          <li><code>shadow</code>: Adds a small amount of box-shadow around the <code>bu-navbar</code></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="column">

  </div>
</div>
