<div class="columns">
  <div class="column is-10">
    <section class="section">
      <h1 class="title">Color Helpers</h1>
      <h2 class="subtitle">Change the <strong>color</strong> of the text and/or background.</h2>
    </section>
    <section class="section">
      <div class="content"></div>
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Directive</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>bu-has-text-white</code></td>
            <td bu-has-text-white bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-black</code></td>
            <td bu-has-text-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-light</code></td>
            <td bu-has-text-light bu-has-background-grey>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-dark</code></td>
            <td bu-has-text-dark>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-primary</code></td>
            <td bu-has-text-primary>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-link</code></td>
            <td bu-has-text-link>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-info</code></td>
            <td bu-has-text-info>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-success</code></td>
            <td bu-has-text-success>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-warning</code></td>
            <td bu-has-text-warning>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-danger</code></td>
            <td bu-has-text-danger>Hello Bulma</td>
          </tr>
        </tbody>
      </table>
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Directive</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>bu-has-text-black-bis</code></td>
            <td bu-has-text-black-bis>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-black-ter</code></td>
            <td bu-has-text-black-ter>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-grey-darker</code></td>
            <td bu-has-text-grey-darker>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-grey-dark</code></td>
            <td bu-has-text-grey-dark>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-grey</code></td>
            <td bu-has-text-grey>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-grey-light</code></td>
            <td bu-has-text-grey-light>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-grey-lighter</code></td>
            <td bu-has-text-grey-lighter>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-white-ter</code></td>
            <td bu-has-text-white-ter bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-white-bis</code></td>
            <td bu-has-text-white-bis bu-has-background-black>Hello Bulma</td>
          </tr>
        </tbody>
      </table>
            <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Directive</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>bu-has-text-primary</code></td>
            <td bu-has-text-primary-light bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-link</code></td>
            <td bu-has-text-link-light bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-info</code></td>
            <td bu-has-text-info-light bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-success</code></td>
            <td bu-has-text-success-light bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-warning</code></td>
            <td bu-has-text-warning-light bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-danger</code></td>
            <td bu-has-text-danger-light bu-has-background-black>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-primary</code></td>
            <td bu-has-text-primary-dark>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-link</code></td>
            <td bu-has-text-link-dark>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-info</code></td>
            <td bu-has-text-info-dark>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-success</code></td>
            <td bu-has-text-success-dark>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-warning</code></td>
            <td bu-has-text-warning-dark>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-text-danger</code></td>
            <td bu-has-text-danger-dark>Hello Bulma</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Directive</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>bu-has-background-white</code></td>
            <td bu-has-background-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-black</code></td>
            <td bu-has-background-black bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-light</code></td>
            <td bu-has-background-light>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-dark</code></td>
            <td bu-has-background-dark bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-primary</code></td>
            <td bu-has-background-primary bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-link</code></td>
            <td bu-has-background-link bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-info</code></td>
            <td bu-has-background-info bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-success</code></td>
            <td bu-has-background-success bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-warning</code></td>
            <td bu-has-background-warning bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-danger</code></td>
            <td bu-has-background-danger bu-has-text-white>Hello Bulma</td>
          </tr>
        </tbody>
      </table>
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Directive</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>bu-has-background-black-bis</code></td>
            <td bu-has-background-black-bis bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-black-ter</code></td>
            <td bu-has-background-black-ter bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-grey-darker</code></td>
            <td bu-has-background-grey-darker bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-grey-dark</code></td>
            <td bu-has-background-grey-dark bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-grey</code></td>
            <td bu-has-background-grey bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-grey-light</code></td>
            <td bu-has-background-grey-light bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-grey-lighter</code></td>
            <td bu-has-background-grey-lighter bu-has-text-white>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-white-ter</code></td>
            <td bu-has-background-white-ter>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-white-bis</code></td>
            <td bu-has-background-white-bis>Hello Bulma</td>
          </tr>
        </tbody>
      </table>
            <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Directive</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>bu-has-background-primary-light</code></td>
            <td bu-has-background-primary-light bu-has-text-primary>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-link-light</code></td>
            <td bu-has-background-link-light bu-has-text-link>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-info-light</code></td>
            <td bu-has-background-info-light bu-has-text-info>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-success-light</code></td>
            <td bu-has-background-success-light bu-has-text-success>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-warning-light</code></td>
            <td bu-has-background-warning-light bu-has-text-warning>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-danger-light</code></td>
            <td bu-has-background-danger-light bu-has-text-danger>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-primary-dark</code></td>
            <td bu-has-background-primary-dark bu-has-text-primary-light>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-link-dark</code></td>
            <td bu-has-background-link-dark bu-has-text-link-light>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-info-dark</code></td>
            <td bu-has-background-info-dark bu-has-text-info-light>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-success-dark</code></td>
            <td bu-has-background-success-dark bu-has-text-success-light>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-warning-dark</code></td>
            <td bu-has-background-warning-dark bu-has-text-warning-light>Hello Bulma</td>
          </tr>
          <tr>
            <td><code>bu-has-background-danger-dark</code></td>
            <td bu-has-background-danger-dark bu-has-text-danger-light>Hello Bulma</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="column is-2"></div>
</div>
